body{
     background-color: red;
    /*background-image: url(../img/naturaleza.webp);
    background-repeat: repeat;
    background-size: 100% 100%; */
    /*background-attachment: fixed;/*para poner ua imagen de fondo fija*/
    /* background-position: left bottom; */
    color: black;
    text-align: justify;
    text-indent: 15px;/*identacion*/
    word-spacing: 10px;
    /* letter-spacing: 5px; */
}


#caja{
    border: 5px solid black;
    padding: 10px;
    background-color: coral;
    color: rgb(85, 200, 85);
    font-family: sans-serif;
    text-align: center;
    /*line-height: 50px; /*altura de la linea*/
    text-transform: uppercase;
    text-decoration: line-through;
    vertical-align:top ;

}

h2{
    color: red;
    background: white;
    background-image: url(../img/pattern.jpeg);
    border: 5px solid red;
}



