@media (max-width: 1250px) {
  .wrap {
    width: 100%;
    margin: 0px auto;
  }

  #banner h1 {
    width: 100%;
    font-size: 35px;
    text-align: center;
    margin: 33px auto;
  }

  #cards {
    margin: 2%;
  }

  .card {
    width: 17%;
    margin: 1.5%;
  }

  .card p {
    display: block;
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }

  #articles {
    width: 65%;
    margin-left: 1% !important;
  }

  #articles article {
    width: 97%;
  }

  #footer .wrap > div {
    width: 24%;
  }

  #footer #browers img {
    width: 14% !important;
  }

  #footer h5 {
    font-size: 30px;
  }
}

@media (max-width: 1080px) {
  .card .category {
    font-size: 17px;
  }
  .card .description {
    font-size: 14px;
  }

  #articles {
    width: 61%;
    margin-left: 1% !important;
  }
}

@media (max-width: 998px) {
  #articles {
    width: 59%;
  }

  #footer h5 {
    font-size: 22px;
  }
}

@media (max-width: 856px) {
  #articles {
    width: 65%;
  }

  #BarraLateral {
    width: 25%;
  }

  #BarraLateral input[type="text"] {
    width: 78%;
  }

  .aside-box {
    width: 95%;
    min-height: 140px;
    height: auto;
    padding-bottom: 10px;
  }

  #login a {
    margin-bottom: 10px;
    margin-left: 10px;
  }

  #login input[type="email"],
  #login input[type="password"] {
    width: 65%;
  }

  #login #user,
  #login #password {
    margin-left: 24px;
  }

  #login input[type="button"],
  #login input[type="submit"],
  #login input[type="reset"],
  #login button {
    margin-bottom: 0px;
  }

  #login input[type="reset"] {
    display: none;
  }

  #footer .wrap > div {
    width: 25%;
    margin: 20px;
  }
}

@media (max-width: 758px) {
  #banner h1 {
    font-size: 25px;
  }

  #BarraLateral h3 {
    font-size: 20px;
  }

  .card {
    height: auto;
  }

  .card .description {
    display: none;
  }

  .card .category {
    font-size: 15px;
    margin-top: -23px;
  }

  #footer img {
    margin-bottom: 15px;
    max-width: 100%;
  }
}

@media (max-width: 757px) {
  #header {
    width: 100%;
    height: 125px;
    padding-top: 10px;
  }

  #menu {
    clear: both;
    float: none;
    width: 75%;
    margin: 0px auto;
    margin-left: 23%;
  }

  #logoTipo {
    float: none;
    width: 200px;
    margin: 0px auto;
  }
}

@media (max-width: 662px) {
  #BarraLateral input[type="text"] {
    width: 70%;
  }
}

@media (max-width: 690px) {
  .wrap {
    width: 90%;
  }

  #banner h1 {
    font-size: 25px;
  }

  #articles {
    width: 100%;
    float: none;
    margin: 0px auto;
  }

  #BarraLateral {
    width: 100%;
    float: none;
    margin: 0px auto;
    min-height: auto;
    margin-top: 20px;
  }

  #BarraLateral input[type="text"] {
    width: 93%;
  }

  #login input[type="email"],
  #login input[type="password"] {
    width: 89%;
  }

  .card {
    width: 16%;
  }

  #footer {
    height: auto;
    padding-bottom: 40px;
  }
  #footer .wrap > div {
    width: 100%;
    margin: 0px auto;
    margin-top: 20px;
  }

  #footer h5 {
    font-size: 25px;
  }
}

@media (max-width: 578px) {
  #header {
    width: 100%;
    height: 275px;
    padding-top: 10px;
  }

  #logoTipo {
    float: left;
  }

  #menu {
    clear: both;
    float: none;
    width: 100%;
    margin: 0px auto;
    margin-left: 12%;
  }

  #menu ul li {
    width: 100%;
    line-height: 52px;
  }

  #menu ul li:hover a {
    color: #37bcf9;
    transform: scale(1, 1) !important;
  }

  #banner {
    height: 85px;
  }

  #banner h1 {
    font-size: 18px;
  }

  #BarraLateral input[type="text"] {
    width: 89%;
  }

  .card .iconos {
    font-size: 35px;
  }

  .card:hover .iconos {
    font-size: 35px;
  }

  .card .category {
    font-size: 13px;
  }

  #articles .data {
    float: none;
    height: 30px;
    margin: -10px;
    border-radius: 0px 0px 0px 0px;
  }

  #articles article h4 {
    margin-top: 20px;
  }
}
